*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: white;
}


img {
  width: 13vw;
  height: 30vh;
  max-width: 500px;
  object-fit: cover;
  flex-wrap: wrap;
  margin: 16px;
  border-radius: 3px;
}