//************************* COLORS *************************//

// PRIMARY :
$white: #ffffff;
$dark: #333;

// SECONDARY
$blueGrey: #224358;
$blue: #0596DE;
$lightGrey: #CFD8DC;
$grey: #7791A2;
$darkGrey: #224358;
$blueTransparent: rgba(33, 150, 243, 0.58);


//************************* GRADIENT *************************//




//************************* FONTS *************************//

$montserrat: "Montserrat",
"sans-serif";



//************************* BREAKPOINTS *************************//





//************************* MEDIA QUERIES *************************//





//************************* MIXINS *************************//


